# reference: http://www.objc.io/issue-6/travis-ci.html

language: objective-c
before_install:
  - brew update # workaround for #2836
  - gem install cocoapods -v '1.2.0'
  - cd Example && pod install && cd -
script:
- xcodebuild test -workspace 'Example/HRSAdvancedTableViews.xcworkspace' -scheme 'HRSAdvancedTableViews' -destination 'name=iPhone 6,OS=8.0'
